# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = wthmzk.settings

[deploy]
Project: wthmzk
# url = https://dash.scrapinghub.com/api/scrapyd/
# username = 45230557c7e0442a88c582d60449377c
# password =
# project = 29457
